
@{
    ViewBag.Title = "lead_detail";
}

<div class="bg-white">
    <div class="page-breadcrumb p-lg-4 pt-2">
        <div class="row border-bottom pb-2">
            <div class="col-7 align-self-center">
                <h3 class="page-title pt-2">Lead Detail</h3>
            </div>
            <div class="col-5 align-self-center">
                <div class="clock"></div>
            </div>
        </div>
    </div>
    <div class="dark-bg-white p-md-4 p-3 mt-3 border shadow-lg m-lg-4">
        <h2>Create Lead</h2>
        <div class="row m-0 text-capitalize">
            <div class="col-md-3 p-2 bg-light border font-weight-bold">
                ID
            </div>
            <div class="col-md-3 col-6 border p-2 bg-light">12345</div>
            <div class="col-md-3 p-2 bg-light border font-weight-bold">
                Customer Name
            </div>
            <div class="col-md-3 col-6 border p-2 bg-light">Ali</div>
            <div class="col-md-3 p-2 border font-weight-bold">
                Primary Phone
            </div>
            <div class="col-md-3 col-6 border p-2">0123445678</div>
            <div class="col-md-3 p-2 border font-weight-bold">
                Secondary Phone
            </div>
            <div class="col-md-3 col-6 border p-2">123456789</div>
            <div class="col-md-3 p-2 bg-light border font-weight-bold">
                Allocated to
            </div>
            <div class="col-md-3 col-6 border p-2 bg-light">Ali</div>
            <div class="col-md-3 p-2 bg-light border font-weight-bold">
                Email Address
            </div>
            <div class="col-md-3 col-6 border p-2 bg-light">demo@wert.erty</div>
            <div class="col-md-3 p-2 border font-weight-bold">
                City
            </div>
            <div class="col-md-3 col-6 border p-2">Lahore</div>
            <div class="col-md-3 p-2 border font-weight-bold">
                Project
            </div>
            <div class="col-md-3 col-6 border p-2">Ali</div>
            <div class="col-md-3 p-2 bg-light border font-weight-bold">
                Service Type
            </div>
            <div class="col-md-3 col-6 border p-2 bg-light font-weight-bold">Ali</div>
            <div class="col-md-3 p-2 bg-light border font-weight-bold">
                Customer Type
            </div>
            <div class="col-md-3 col-6 border p-2 bg-light">Ali</div>
            <div class="col-md-3 p-2 border font-weight-bold">
                Created By
            </div>
            <div class="col-md-3 col-6 border p-2">demo 26-01-2021 11:42 PM</div>
            <div class="col-md-3 p-2 border font-weight-bold">
                Allocated By
            </div>
            <div class="col-md-3 col-6 border p-2">demo 26-01-2021</div>
            <div class="col-md-3 p-2 bg-light border font-weight-bold">
                Status
            </div>
            <div class="col-md-3 col-6 border p-2 bg-light"><span class="text-success font-weight-bold">Open</span> Working Since <span class="font-weight-bold">0</span> hours</div>
            <div class="col-md-3 p-2 border font-weight-bold bg-light">
                Customer location
            </div>
            <div class="col-md-3 col-6 border p-2 bg-light">phase 2</div>
            <div class="col-md-3 p-2 border font-weight-bold">
                Property type
            </div>
            <div class="col-md-3 col-6 border p-2">home</div>
            <div class="col-md-3 p-2 border font-weight-bold">
                category
            </div>
            <div class="col-md-3 col-6 border p-2">home</div>
            <div class="col-md-3 p-2 border font-weight-bold bg-light">
                Min budget
            </div>
            <div class="col-md-3 col-6 border p-2 bg-light">2</div>
            <div class="col-md-3 p-2 border font-weight-bold bg-light">
                Max budget
            </div>
            <div class="col-md-3 col-6 border p-2 bg-light">2</div>
            <div class="col-md-3 p-2 border font-weight-bold">
                Area
            </div>
            <div class="col-md-3 col-6 border p-2">marla</div>
            <div class="col-md-3 p-2 border font-weight-bold">
                Area
            </div>
            <div class="col-md-3 col-6 border p-2">10 Marla to 10 Marla</div>
            <div class="col-md-3 p-2 border font-weight-bold bg-light">
                Plot/House number
            </div>
            <div class="col-md-3 col-6 border p-2 bg-light">2</div>
            <div class="col-md-3 p-2 border font-weight-bold bg-light">
                Attachments
            </div>
            <div class="col-md-3 col-6 border p-2 bg-light">0</div>
            <div class="col-md-3 p-2 border font-weight-bold bg-light">
                Beds
            </div>
            <div class="col-md-3 col-6 border p-2 bg-light">2</div>
            <div class="col-md-3 p-2 border font-weight-bold bg-light">
                Block
            </div>
            <div class="col-md-3 col-6 border p-2 bg-light">Block a</div>
            <div class="col-md-3 p-2 border font-weight-bold">
                Source
            </div>
            <div class="col-md-3 col-6 border p-2">SMS Lead</div>
            <div class="col-md-3 p-2 border font-weight-bold">
                Client Type
            </div>
            <div class="col-md-3 col-6 border p-2">Direct client</div>
            <div class="col-md-3 p-2 border font-weight-bold">
                Sticky note
            </div>
            <div class="col-md-3 col-6 border p-2 bg-light">
                <div class="custom-control custom-radio d-inline-block mr-1">
                    <input type="radio" class="custom-control-input" id="customControlValidation1" name="radio-stacked">
                    <label class="custom-control-label" for="customControlValidation1">Yes</label>
                </div>
                <div class="custom-control custom-radio d-inline-block">
                    <input type="radio" class="custom-control-input" id="customControlValidation2" name="radio-stacked">
                    <label class="custom-control-label" for="customControlValidation2">No</label>
                </div>
            </div>
            <div class="col-md-3 p-2 border font-weight-bold bg-light text-center">
                <button class="btn btn-secondary">Shift Lead</button>
            </div>
            <div class="col-md-3 col-6 border p-2 bg-light text-center">
                <button class="btn btn-secondary">Shared Lead</button>
            </div>
        </div>

    </div>
</div>

